---
import Breadcrumb from 'src/components/Breadcrumb.astro'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { Image, getImage } from 'astro:assets'

const samples = await getCollection('sample')
const links = [{ label: 'Sample' }]
---

<Layout title="Sample">
  <div class="p-10">
    <Breadcrumb links={links} />

    <h2 class="mb-8 text-3xl font-bold">Sample</h2>
    <div class="grid grid-cols-3 gap-10 *:hover:fill-black/10 *:hover:opacity-50 *:hover:grayscale">
      {
        samples.map(async (a) => {
          const src = a.data.cover
          return (
            <>
              <Image src={src} alt={a.data.title} class="aspect-[1/1.2] w-full object-cover transition group-hover:scale-110" />
            </>
          )
        })
      }
    </div>
  </div>
</Layout>
