---
import { getEntry, render } from "astro:content"
import Layout from "../layouts/Layout.astro"
import Banner from "src/components/Banner.astro"

const aboutPage = await getEntry("pages", "about")
const { Content } = await render(aboutPage)
const links = [{ label: "About" }]
---

<Layout title="About">
  <div class="flex flex-col">
    <!-- <Breadcrumb links={links} /> -->
    <Banner label="About Me" />
    <div class="w-full p-10">
      <div class="prose prose-zinc max-w-none dark:prose-invert">
        <Content />
      </div>
    </div>
  </div>
</Layout>
