---
import { getEntry } from "astro:content"
import Layout from "../layouts/Layout.astro"
import Breadcrumb from "src/components/Breadcrumb.astro"

const aboutPage = await getEntry("pages", "about")
const { Content } = await aboutPage.render()
const links = [{ label: "About" }]
---

<Layout title="About">
  <div class="w-full p-10">
    <Breadcrumb links={links} />
    <h2 class="mb-8 text-3xl font-bold">{aboutPage.data.title ?? "About"}</h2>
    <div class="prose prose-zinc max-w-none dark:prose-invert">
      <Content />
    </div>
  </div>
</Layout>
