---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import AboutMe from "/src/assets/images/coming-soon/Me Again.jpg"
---

<Layout title="About">
  <div class="w-full p-10 text-center">
    <Image src={AboutMe} alt="Coming Soon" width={500} height={500} class="mx-auto py-10" />
    <h3 class="font-serif text-4xl">Coming Soon</h3>
    <p>Please check back soon!</p>
  </div>
</Layout>
