---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Keystatic & Astro's Content Collections">
  <div class="bg-zinc-50">
    <h1>Contact</h1>
  </div>
</Layout>
